<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CITY NIGHT TIMELINE</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
  </head>
  <body>
    <div>
      <div class="ui pointing secondary menu">
        <a class="active item" href="{% url 'main' %}">MAIN</a>
        <a class="item" href="{% url 'search' %}">SEARCH</a>
      </div>
    </div>
    <div class="ui center aligned segment">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
