<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CITY NIGHT TIMELINE</title>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
    {% block assets %}{% endblock %}
  </head>
  <body>
    <div class="ui center aligned segment vertical">
      <div class="ui pointing secondary menu compact">
        <a class="active item" href="{% url 'main' %}">MAIN</a>
        <a class="item" href="{% url 'search' %}">SEARCH</a>
        <a class="item" href="{% url 'help' %}">HELP</a>
      </div>
    </div>
    <div class="ui center aligned">
      <br/>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
