{% extends 'base.html' %}

{% block content %}
  <form class="ui form" method="post" action="#" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="fields">
      <div class="eight wide field">
        <div class="ui input">
          {{ msg_form.message }}
        </div>
      </div>
    </div>
    <div class="field">
      <button class="ui button" id="post" type="submit">POST</button>
    </div>
  </form>
  <div>
    {% for item in result %}
      <div>
        <h1>{{ item.message }}</h1>
        <p>{{ item.time|date:'Y-m-d H:i A' }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
