{% extends 'base.html' %}

{% block content %}
  <div class="ui form">
    <form method="post" action="#" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="inline fields ui grid container centered">
        <div class="eight wide field">
          <div class="ui input">
            <textarea name="message" default="" placeholder="message" required></textarea>
          </div>
        </div>
      </div>
      <div class="field ui grid container centered">
        <button class="ui button" id="post" type="submit">POST</button>
      </div>
    </form>
  </div>
  <br/>
  <div>
    {% for item in result %}
      <div class="ui raised very padded text container segment">
        <h1>{{ item.message }}</h1>
        <p>{{ item.time|date:'Y-m-d H:i A' }}</p>
      </div>
    {% endfor %}
    <br/>
  </div>
{% endblock %}
