{% load staticfiles compress %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CITY NIGHT TIMELINE</title>

    <script src="//fb.me/react-15.0.1.js"></script>
    <script src="//fb.me/react-dom-15.0.1.js"></script>
  </head>
  <body>
    <div id="container"></div>
    {% compress js %}
    <script src="{% static 'jsx/main.jsx' %}" type="text/jsx"></script>
    {% endcompress %}
    <form class="form-horizontal" method="post" action="{% url 'main' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <p class="input-group">
        {{ msg_form.keyword }}
        <span class="input-group-btn">
          <button class="btn btn-default" id="newmsg" type="submit">WRITE</button>
        </span>
      </p>
    </form>
  </body>
</html>
